.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}

.select {
  padding: 10px;
  margin-top: 15px;
}

.typeBook {
  display: flex;
  gap: 10px;
}

.textBook {
  margin-bottom: 10px;
}

.input,
.select,
.product-type label,
.upload-photo input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.product-type,
.prod_size,
.upload-photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-type label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-photo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-photo input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.custom-file-upload span {
  font-size: 24px;
  margin-right: 10px;
}

.photo-preview {
  margin: auto;
  margin-top: 10px;
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}

/* ProductTypeSelector.css */
.container_type {
  display: flex;
  gap: 20px;
}

.container_size {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
}

.product_A,
.product_B {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.product_B {
  width: 100px;
}

.product_A input[type="radio"] {
  display: none;
}

.product_B input[type="radio"] {
  display: none;
}

.product_image,
.product_size {
  width: 100px;
  height: auto;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.product_size {
  width: 100%;
}

.tex {
  text-align: center;
}

.product_A.selected .product_image {
  width: 120px;
  border: 3px solid #e6d70a;
}

.text_active {
  font-size: 18px;
  color: #e6d70a;
}

.active_size {
  border: 3px solid #e6d70a;
}


.toOrder {
  margin-top: 8px;
  padding: 12px;
  background-color: #e6d70a;
  border: none;
  border-radius: 8px;
  margin-inline: 15px;
  text-transform: uppercase;
}

.price {
  font-size: 18px;
  font-weight: 800;
}

.size_sm {
  font-size: 13px;
}